.review {
	margin-bottom: 130px;
	&__inner {
		position: relative;
	}

	&__title {
		margin-bottom: 92px;
	}

	&__slider {
	}

	&__wrapper {
		margin-bottom: 50px;
	}

	&__item {
		background: #740693;
		border-radius: 10px;
		max-width: 537px;
		padding: 50px;
	}

	&__text {
		font-weight: 500;
		font-size: 28px;
		line-height: 32px;
		letter-spacing: 0.4px;
		color: var(--main-white);
		margin-bottom: 33px;
	}

	&__desc {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__image {
		max-width: 50px;
	}

	&__position {
	}
	&__navigation {
		height: 50px;
		position: relative;
		max-width: 426px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		.review__button_prev,
		.review__button_next {
			width: 50px;
			height: 50px;
			background-color: #740693;
			border-radius: 8px;
			top: 0;
			margin: 0;
			&::after {
				content: "";
				position: absolute;
				width: 24px;
				height: 24px;
				z-index: 4;
			}
		}
		.review__button_prev {
			left: 0;
			&::after {
				background: url("../../img/icons/arrowLeftsvg.svg") center / cover no-repeat;
			}
		}
		.review__button_next {
			right: 0;
			&::after {
				background: url("../../img/icons/arrowRight.svg") center / cover no-repeat;
			}
		}
		.review__pagination.swiper-pagination {
			height: 8px;
			width: calc(100% - 148px);
			left: 50%;
			transform: translate(-50%, -50%);
			bottom: 0;
			top: 50%;
			display: flex;
			justify-content: space-between;
			gap: 10px;
			.swiper-pagination-bullet {
				margin: 0;
				background: #740693;
				max-width: 100%;
				width: 100%;
				border-radius: 10px;
				opacity: 1;
				&-active {
					background: var(--main-purple);
				}
			}
		}
	}
}
